*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  padding:0px 8px
}

.section{
  margin:40px 0px;
}

.star{
  font-size:30px;
  margin:5px;
  cursor: pointer;
}

button{
  background-color: transparent;
  border: none;
  outline:none;
}

.on{
  color:darkorange;
}

.off{
  color:grey;
}


/* Like Dislike */

.icon{
  font-size:30px;
  cursor: pointer;
  margin:0 10px;
  opacity: 0.5;
}
.icon.like.active{
  opacity:1;
  color:green;
  font-weight: bold;
}

.icon.dislike.active{
  opacity:1;
  color:red;
  font-weight: bold;
}

.icon:hover{
  opacity: 1;
}